<div class="flex flex-col justify-center mt-8">
  <div>
    <% @categories.each do |category| %>
      <span class="inline-block bg-slate-200 text-HFblue-200 font-semibold py-1 px-3 border rounded-full text-sm mr-2 mb-2">
        <%= category.name %>
      </span>
    <% end %>
  </div>
</div>