<%= form_with url: users_path, method: :get, local: true do %>
  <div class="flex flex-wrap justify-center items-center space-x-4">
    <% Category.all.each do |category| %>
      <div class="flex items-center mb-4">
        <%= check_box_tag "categories[]", category.id, params[:categories]&.include?(category.id.to_s), id: "category_#{category.id}", class: "mr-2" %>
        <%= label_tag "category_#{category.id}", category.name, class: "bg-slate-200 text-HFred-200 font-semibold py-1 px-3 border rounded-full text-sm mr-2 mb-2 cursor-pointer" %>
      </div>
    <% end %>
  </div>
  <div class="flex flex-wrap justify-center items-center space-x-4">
    <%= submit_tag "Filtrer", class: " btn-primary bg-HFblue-200 text-white px-4 py-2 rounded-md cursor-pointer" %>
  </div>
<% end %>