<!-- app/views/pages/about.html.erb -->

<% content_for :meta_description do %>
  La page de presentation de l'equipe.
<% end %>

<% content_for :meta_keywords do %>
  equipe, presentation.
<% end %>

<section class="py-12 text-violet-950">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-6">À propos de Hotefinder</h1>

    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4">Notre Histoire</h2>
      <p class="text-lg mb-4">
        Bienvenue chez <strong>Hotefinder</strong>, où notre passion pour la gestion saisonnière immobilière se transforme en solutions innovantes et de qualité. Fondée en 2024, notre entreprise s'est rapidement imposée comme un leader dans le secteur grâce à notre engagement envers l'excellence et la satisfaction de nos clients.
      </p>
    </div>

    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4">Notre Mission</h2>
      <p class="text-lg mb-4">
        Chez <strong>Hotefinder</strong>, notre mission est de faciliter la connexion entre les propriétaires et les concierges, en offrant des solutions efficaces et transparentes pour la gestion saisonnière des biens immobiliers. Nous croyons en l'innovation, la qualité du service, et en un partenariat durable avec nos clients et nos concierges.
      </p>
    </div>

    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4">Nos Valeurs</h2>
      <ul class="list-disc list-inside text-lg mb-4">
        <li><strong>Innovation :</strong> Nous cherchons constamment à améliorer et à innover pour offrir les meilleures solutions à nos clients.</li>
        <li><strong>Qualité :</strong> La qualité est au cœur de tout ce que nous faisons. Chaque service est conçu avec un souci du détail et un engagement envers l'excellence.</li>
        <li><strong>Service Client :</strong> Nos clients sont notre priorité. Nous nous efforçons de dépasser leurs attentes à chaque interaction.</li>
        <li><strong>Durabilité :</strong> Nous nous engageons à des pratiques durables qui respectent notre environnement et nos communautés.</li>
      </ul>
    </div>

    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4">Notre Équipe</h2>
      <p class="text-lg mb-4">
        Nous sommes fiers de notre équipe diversifiée et talentueuse, composée de professionnels passionnés et dévoués. Chacun de nos membres apporte une expertise unique et une passion pour la gestion saisonnière immobilière, ce qui nous permet de fournir des solutions innovantes et personnalisées à nos clients.
      </p>
    </div>

    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4">Pourquoi Nous Choisir</h2>
      <ul class="list-disc list-inside text-lg mb-4">
        <li><strong>Expertise :</strong> Avec des années d'expérience et une connaissance approfondie du secteur, nous sommes capables de répondre aux besoins variés de nos clients.</li>
        <li><strong>Personnalisation :</strong> Nous comprenons que chaque client est unique. C'est pourquoi nous offrons des solutions personnalisées qui répondent spécifiquement à leurs besoins.</li>
        <li><strong>Engagement :</strong> Nous nous engageons à fournir un service exceptionnel et à établir des relations durables avec nos clients.</li>
      </ul>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4">Contactez-Nous</h2>
      <p class="text-lg mb-4">
        Nous serions ravis de discuter de vos besoins et de voir comment nous pouvons vous aider. N'hésitez pas à nous contacter à welcome@hotefinder.com.
      </p>
      <p class="text-lg mb-4">
        Merci de votre visite et de votre intérêt pour <strong>Hotefinder</strong>. Nous sommes impatients de collaborer avec vous!
      </p>
    </div>
  </div>
</section>
