@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  /* Buttons */
  .btn {
    @apply no-underline mx-6 my-5;
  }

  .btn-primary {
    @apply bg-HFblue-200 hover:bg-white hover:text-HFblue-200 hover:border-HFblue-200 text-white font-bold py-2 px-5 rounded-full;
  }

  .btn-primary-inverted {
    @apply bg-white hover:bg-HFblue-200 hover:text-white font-bold border-HFblue-200 text-HFblue-200 border-HFblue-200 hover:shadow-md py-2 px-5 rounded-full;
  }
  
  .btn-primary-nav {
    @apply bg-HFblue-200 hover:outline-2 text-HFlight py-2 px-5 rounded-full mx-2;
  }
  .btn-outline-primary {
    @apply border-HFblue-300 border-4 text-HFblue-300 hover:bg-HFblue-100 hover:text-white font-bold py-3 px-8 rounded-full;
  }
  
  .btn-secondary {
    @apply bg-HFred-200 hover:bg-red-300 font-bold text-white py-2 px-5 rounded-full ;
  }

  .btn-secondary-nav {
    @apply bg-HFred-200 hover:bg-HFred-300 font-bold text-white py-2 px-5 rounded-full ;
  }

  .btn-outline-secondary {
    @apply outline outline-2 outline-amber-500 hover:outline-amber-400 hover:text-zinc-500 text-zinc-700 font-bold py-2 px-4 rounded-full;
  }

  .btn-primary-icon {
    @apply bg-pink-900 hover:bg-pink-800 text-white font-bold py-2 px-3 rounded-full;
  }

  .btn-secondary-icon {
    @apply bg-amber-500 hover:bg-amber-400 text-white font-bold py-2 px-3 rounded-full;
  }

  .btn-danger {
    @apply bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full;
  }

  .btn-success {
    @apply bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded-full;
  }

  .background-image {
    background: url('hotefinder/app/assets/images/img/background.jpg') center center / cover no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
  }

  .h1 {
    color: 'HFblue-300';
    font-size: 50px;
    font-weight: bold;
  }

  .h2 {
    color: 'HFblue-300';
    font-size: 40px;
    font-weight: bold;
  }

  .h3 {
    color: 'HFblue-300';
    font-size: 30px;
    font-weight: bold;
  }

  .h4 {
    color: 'HFred-300';
    font-size: 25px;
    font-weight: bold;
  }

  .h5 {
    color: 'HFred-200';
    font-size: 20px;
    font-weight: bold;
  }

  .h6 {
    color: 'HFbleu-100';
    font-size: 18px;
    font-weight: bold;
  }


}
