@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.btn-primary{
  background-color: 'HFsecondary-200';
  color: 'HFlight';
  border: 1px white;
  padding: 6% 16px; /* 4px high, 16px wide */
  font-size: 12px; /* Primary font size */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Slight shadow */
  transition: border-color 0.3s, color 0.3s; /* Smooth transition */
}

.button:hover {
  border-color: 'HFlight'; 
  color:'HFlight';
}