<head>
<meta name="description" content="Le fichier d'edition des missions">
</head>

<div class="mx-auto w-5/6 w-full flex flex-col items-center">
  <h1 class="font-bold text-2xl text-HFblue-200">Editing mission</h1> 
  <h2 class="text-2xl font-bold text-green mb-5"><%= @mission.status %></h2>


  <%= render "form", mission: @mission %>
<div class="flex justify-center p-4">
    <%= link_to "Retour aux missions", missions_path, class: "btn-secondary mt-10 py-3 px-5"%>
  </div>
  
</div>

