<div class="mx-auto w-5/6 w-full flex flex-col items-center">
  <h1 class="font-bold text-2xl text-HFblue-200">Editing mission</h1>

  <%= render "form", mission: @mission %>

  <div class="flex justify-center">
    <%= link_to "Show this mission", @mission, class: "mx-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to missions", missions_path, class: "mx-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
